@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand/Shrikhand.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
body {
  font-family: "Roboto-Regular";
}

h1 {
  font-family: "Shrikhand";
}

h2 {
  font-family: "Roboto-Black";
  font-size: 26px;
}

h3 {
  font-family: "Shrikhand";
  font-weight: lighter;
}

body {
  text-align: center;
  min-width: 380px;
}
body a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-around;
  line-height: 20px;
  position: relative;
  margin-bottom: -5px;
}
header a {
  position: absolute;
  top: 18px;
  left: 25px;
  font-size: 25px;
  font-weight: bolder;
  transform: scaleX(0.8);
  text-shadow: 0px 0px 1px black;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  color: white;
  background-color: #2e2e2e;
}
.footer__list {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}
.footer__list li {
  line-height: 25px;
  list-style: none;
  font-family: "Roboto-Regular";
}
.footer__list li a {
  color: white;
}
.footer__list li .fa-solid {
  width: 25px;
}
.footer__list li .fa-utensils {
  font-size: 15px;
}
.footer__list li .fa-handshake-angle {
  font-size: 13px;
  transform: scaleX(0.75);
}

.home header, .home section, .home footer {
  opacity: 0;
  animation: 0.1s start-page-3s 3s linear forwards;
  opacity: 0;
}
@keyframes start-page-3s {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
}
.loading-spinner__box {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  animation: 2.9s loader-3s forwards;
  opacity: 0;
}
@keyframes loader-3s {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-spinner__row {
  display: flex;
  position: relative;
}
.loading-spinner__row--1 {
  position: relative;
  top: -10px;
  left: 5px;
  width: 45%;
  transform: scale(1.05);
}
.loading-spinner__row--2 {
  position: relative;
  width: 45%;
  top: -10px;
  left: 30px;
  transform: scale(1.05);
}
.loading-spinner__row--3 {
  position: relative;
  width: 22.5%;
  top: -40px;
  left: -16px;
  transform: scale(1.2);
}
.loading-spinner--1 {
  animation: 1.5s start-page-home 2 linear;
  opacity: 0;
}
@keyframes start-page-home {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-spinner--2 {
  transform: scale(1.2);
  animation: 1.5s start-page-home 2 0.125s linear;
  opacity: 0;
}
@keyframes start-page-home {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-spinner--3 {
  transform: scale(1.3);
  left: 33px;
  animation: 1.5s start-page-home 2 0.25s linear;
  opacity: 0;
}
@keyframes start-page-home {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-spinner--4 {
  transform: scale(0.85);
  left: 40px;
  animation: 1.5s start-page-home 2 0.375s linear;
  opacity: 0;
}
@keyframes start-page-home {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-spinner--5 {
  position: relative;
  left: 20px;
  animation: 1.5s start-page-home 2 0.5s linear;
  opacity: 0;
}
@keyframes start-page-home {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-spinner--6 {
  animation: 1.5s start-page-home 2 0.625s linear;
  opacity: 0;
}
@keyframes start-page-home {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-spinner--7 {
  animation: 1.5s start-page-home 2 0.75s linear;
  opacity: 0;
}
@keyframes start-page-home {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-spinner--8 {
  animation: 1.5s start-page-home 2 0.875s linear;
  opacity: 0;
}
@keyframes start-page-home {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 340px;
  background-color: #ededed;
}
.explore__title {
  display: flex;
  justify-content: center;
  line-height: 50px;
  font-family: "Roboto-Bold";
  font-size: 16px;
  background: linear-gradient(to bottom, #bababa, #e3e3e3 10%);
}
.explore__title i {
  flex: 0 1 auto;
  padding-top: 15px;
}
.explore__title div {
  flex: 0 1 auto;
  padding-left: 20px;
}
.explore__contents {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  height: 175px;
}
.explore__contents * {
  line-height: 1;
}
.explore__contents h2 {
  padding: 0px 30px 0px 30px;
  margin-bottom: 20px;
}
.explore__contents div {
  font-size: 18px;
  padding: 0px 20px 0px 20px;
  color: #878787;
}
.explore__btn {
  border: none;
  margin: 30px auto 75px auto;
  padding: 15px 25px 15px 25px;
  font-family: "Roboto-Medium";
  font-size: 16px;
  color: white;
  background-image: linear-gradient(170deg, #FF79DA -10%, #9356DC);
  border-radius: 50px;
  box-shadow: 0px 7px 15px #cecece;
  transition: all 0.3s ease-out;
}
.explore__btn:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0px 7px 15px #4f4f4f;
}

.how-to {
  padding: 30px 0px 50px 0px;
  display: flex;
  flex-direction: column;
}
.how-to__title {
  text-align: left;
  margin-left: 5%;
}
.how-to__steps {
  display: flex;
  flex-direction: column;
}
.how-to__steps-1, .how-to__steps-2, .how-to__steps-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 75px;
  margin-bottom: 25px;
}
.how-to__steps-1 .fa-circle, .how-to__steps-2 .fa-circle, .how-to__steps-3 .fa-circle {
  position: relative;
  z-index: 1;
  top: 4px;
  left: 13px;
  z-index: 1;
  font-size: 25px;
  color: #9356DC;
}
.how-to__steps-1 .steps-logo, .how-to__steps-2 .steps-logo, .how-to__steps-3 .steps-logo {
  position: relative;
  right: 300px;
  font-size: 22px;
  color: #878787;
}
.how-to__steps-1 .circle-number, .how-to__steps-2 .circle-number, .how-to__steps-3 .circle-number {
  position: relative;
  z-index: 2;
  left: 31px;
  color: white;
  font-family: "Roboto-Bold";
  font-size: 16px;
}
.how-to__steps-1 a:hover + .steps-logo, .how-to__steps-2 a:hover + .steps-logo, .how-to__steps-3 a:hover + .steps-logo {
  color: #9356DC;
}
.how-to__steps-title {
  width: 260px;
  min-width: 260px;
  padding-left: 80px;
  padding-right: 0px;
  text-align: left;
  font-family: "Roboto-Black";
  font-size: 16px;
  background-color: #ededed;
  border-radius: 20px;
  box-shadow: 0px 7px 15px #cecece;
}
.how-to__steps-title:hover {
  background-color: #f2eafb;
}

.resto {
  padding: 30px 0px 50px 0px;
  background-color: #ededed;
}
.resto__title {
  text-align: left;
  margin-left: 5%;
}
.resto__cards {
  display: flex;
  flex-direction: column;
}
.resto__card {
  display: flex;
  flex-direction: column;
  margin: 0px auto 20px auto;
  width: 350px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 7px 15px #cecece;
}
.resto__card__new {
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: "Roboto-Bold";
  font-size: 15px;
  color: #2c9c81;
  background-color: #99E2D0;
  padding: 6px 12px 6px 12px;
  border-radius: 2px;
}
.resto__card__img img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0px 0px;
}
.resto__card__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px 15px 15px;
}
.resto__card__details-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.resto__card__name {
  font-family: "Roboto-Black";
  font-size: 20px;
  padding-bottom: 3px;
}
.resto__card__location {
  font-size: 16px;
}
.resto__card__logo {
  font-size: 22px;
  transform: scaleY(1.2);
  margin: auto 0px auto 0px;
  position: relative;
  margin-right: 40px;
}
.resto__card__logo .fa-regular {
  top: 1.5px;
  position: absolute;
  color: black;
  transition: color 0.5s ease-in-out;
}
.resto__card__logo .fa-solid {
  color: white;
  transition: color 0.5s ease-in-out;
}
.resto__card__logo:hover * {
  color: #9356DC;
}

.restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: #ededed;
}
.restaurant__img {
  object-fit: cover;
  width: 100%;
  height: 280px;
}
.restaurant__details {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -50px;
  padding: 0px 10px 0px 10px;
  border-radius: 40px 40px 0px 0px;
  background-color: #ededed;
  text-align: left;
}
.restaurant__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  font-size: 25px;
  padding: 10px;
  margin-bottom: -30px;
}
.restaurant__title-logo {
  font-size: 22px;
  transform: scaleY(1.2);
  margin: auto 0px auto 0px;
  position: relative;
  margin-right: 15px;
}
.restaurant__title-logo .fa-regular {
  top: 1.5px;
  position: absolute;
  color: black;
  transition: color 0.5s ease-in-out;
}
.restaurant__title-logo .fa-solid {
  color: white;
  transition: color 0.5s ease-in-out;
}
.restaurant__title-logo:hover * {
  color: #9356DC;
}
.restaurant .menu {
  display: flex;
  flex-direction: column;
  margin: 0px auto 0px auto;
}
.restaurant .menu__category {
  display: flex;
  flex-direction: column;
  width: 360px;
}
.restaurant .menu__category-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 10px 15px 10px;
}
.restaurant .menu__category-title .invisible {
  width: 40px;
  flex-basis: 5px;
  border-bottom: solid 3px #99E2D0;
}
.restaurant .menu .dish-btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px auto 15px auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 7px 15px #cecece;
  position: relative;
  opacity: 0;
}
.restaurant .menu .dish-btn--1 {
  animation: 1s start-page-menu 0.25s forwards;
}
@keyframes start-page-menu {
  0% {
    opacity: 0;
    top: 15px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.restaurant .menu .dish-btn--2 {
  animation: 1s start-page-menu 0.5s forwards;
}
@keyframes start-page-menu {
  0% {
    opacity: 0;
    top: 15px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.restaurant .menu .dish-btn--3 {
  animation: 1s start-page-menu 0.75s forwards;
}
@keyframes start-page-menu {
  0% {
    opacity: 0;
    top: 15px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.restaurant .menu .dish-btn--4 {
  animation: 1s start-page-menu 1s forwards;
}
@keyframes start-page-menu {
  0% {
    opacity: 0;
    top: 15px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.restaurant .menu .dish-btn__details {
  width: 360px;
  padding: 13px 10px 13px 10px;
  background-color: white;
  position: relative;
  transition: all 0.5s ease-out;
}
.restaurant .menu .dish-btn__details-name {
  font-family: "Roboto-Bold";
  font-size: 18px;
  padding-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant .menu .dish-btn__details-desc {
  display: flex;
  width: 100%;
  font-size: 15px;
}
.restaurant .menu .dish-btn__details-desc__adds {
  width: 290px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.5s ease-out;
}
.restaurant .menu .dish-btn__details-desc__price {
  width: 15%;
  text-align: center;
  font-weight: bolder;
  transition: all 0.5s ease-out;
}
.restaurant .menu .dish-btn__animation {
  width: 0px;
  height: 80px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  right: 0;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transition: all 0.5s ease-out;
}
.restaurant .menu .dish-btn__animation i {
  position: absolute;
  top: 30px;
  right: -20px;
  transform: rotate(0deg);
  transition: all 0.5s ease-out;
}
.restaurant .menu .dish-btn:hover {
  cursor: pointer;
}
.restaurant .menu .dish-btn:hover .dish-btn__details {
  width: 80%;
}
.restaurant .menu .dish-btn:hover .dish-btn__details-desc__adds {
  width: 75%;
}
.restaurant .menu .dish-btn:hover .dish-btn__details-desc__price {
  width: 20%;
}
.restaurant .menu .dish-btn:hover .dish-btn__animation {
  width: 20%;
}
.restaurant .menu .dish-btn:hover i {
  transform: rotate(360deg);
  right: 40%;
}
.restaurant .order-btn {
  border: none;
  margin: 30px auto 0px auto;
  padding: 15px 50px 15px 50px;
  font-family: "Roboto-Medium";
  font-size: 16px;
  color: white;
  background-image: linear-gradient(170deg, #FF79DA -10%, #9356DC);
  border-radius: 50px;
  box-shadow: 0px 7px 15px #cecece;
  transition: all 0.3s ease-out;
}
.restaurant .order-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0px 7px 15px #4f4f4f;
}

@media screen and (min-width: 800px) {
  .explore {
    height: 280px;
  }

  .how-to {
    padding: 0px 0px 50px 0px;
  }
  .how-to__steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .how-to__steps-1, .how-to__steps-2, .how-to__steps-3 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px 10px 0px 10px;
  }
  .how-to__steps-1 .fa-circle, .how-to__steps-2 .fa-circle, .how-to__steps-3 .fa-circle {
    position: absolute;
    top: -10px;
    left: 110px;
    z-index: 1;
  }
  .how-to__steps-1 .steps-logo, .how-to__steps-2 .steps-logo, .how-to__steps-3 .steps-logo {
    position: absolute;
    right: 210px;
  }
  .how-to__steps-1 .circle-number, .how-to__steps-2 .circle-number, .how-to__steps-3 .circle-number {
    position: absolute;
    top: -35px;
    left: 118px;
    color: white;
    font-family: "Roboto-Bold";
    font-size: 16px;
  }
  .how-to__steps-1 a:hover + .steps-logo, .how-to__steps-2 a:hover + .steps-logo, .how-to__steps-3 a:hover + .steps-logo {
    color: #9356DC;
  }
  .how-to__steps-title {
    width: 190px;
    min-width: 180px;
    padding-left: 50px;
  }
  .how-to__title {
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin-left: 0px;
  }

  .resto__title {
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin-left: 0px;
  }
  .resto__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .resto__card {
    margin: 0px 20px 40px 20px;
  }

  .restaurant .menu {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .restaurant .menu__category {
    width: 300px;
    padding: 10px;
  }
  .restaurant .menu .dish-btn__details-desc__adds {
    width: 238px;
  }
}

/*# sourceMappingURL=style.css.map */
