.restaurant {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: $colour-box;
    &__img {
        object-fit: cover;
        width: 100%;
        height: 280px;
    }
    &__details {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -50px;
        padding: 0px 10px 0px 10px;
        border-radius: 40px 40px 0px 0px;
        background-color: $colour-box;
        text-align: left;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        align-items: center;
        font-size: 25px;
        padding: 10px;
        margin-bottom: -30px;
        &-logo {
            @include favorite;
            margin-right: 15px;
        }
    }
    .menu {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        &__category {
            display: flex;
            flex-direction: column;
            width: 360px;
            &-title {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 20px 10px 15px 10px;
                .invisible {
                    width: 40px;
                    flex-basis: 5px;
                    border-bottom:  solid 3px $colour-tertiary;
                }
            }
        }
        .dish-btn {
            display: flex;
            align-items: center;
            width: 100%;
            margin: 0px auto 15px auto;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: $btn-shadow;
            position: relative;
            opacity: 0;
            &--1 {
                animation: 1s start-page-menu 0.25s forwards;
                @include kf-start-page-menu;
            }
            &--2 {
                animation: 1s start-page-menu 0.5s forwards;
                @include kf-start-page-menu;                
            }
            &--3 {
                animation: 1s start-page-menu 0.75s forwards;
                @include kf-start-page-menu;
            }
            &--4 {
                animation: 1s start-page-menu 1s forwards;
                @include kf-start-page-menu;
            }      
            
            &__details {
                width: 360px;
                padding: 13px 10px 13px 10px;
                background-color: white;
                position: relative;
                @include btn-animation;
                &-name {
                    font-family: 'Roboto-Bold';
                    font-size: 18px;
                    padding-bottom: 5px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &-desc {
                    display: flex;
                    width: 100%;
                    font-size: 15px;
                    &__adds {
                        width: 290px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        @include btn-animation;
                    }
                    &__price {
                        width: 15%;
                        text-align: center;
                        font-weight: bolder;
                        @include btn-animation;
                    }
                }
            }
            &__animation {
                width: 0px;
                height: 80px;
                color: white;
                font-size: 20px;            
                font-weight: bolder;
                position: absolute;
                right: 0;
                border-radius: 0px 15px 15px 0px;
                background-color: $colour-tertiary;
                @include btn-animation;
                i {
                    position: absolute;
                    top: 30px;
                    right: -20px;
                    transform: rotate(0deg);
                    @include btn-animation;
                }
            }

            &:hover {
                cursor: pointer;
                .dish-btn__details {
                    width: 80%;
                    &-desc__adds {
                        width: 75%;
                    }
                    &-desc__price {
                        width: 20%;
                    }
                }
                .dish-btn__animation {
                    width: 20%;
                }
                i {
                    transform: rotate(360deg);
                    right: 40%;
                }
            }
        }
    }
    .order-btn {
        border: none;
            margin: 30px auto 0px auto;
            padding: 15px 50px 15px 50px;
            font-family: 'Roboto-Medium';
            font-size: $font-size-btn;
            color: white;
            background-image: $btn-gradient;
            border-radius: 50px;
            box-shadow: $btn-shadow;
            transition: all 0.3s ease-out;
            &:hover {
                @include btn-hover;
            }
    }
}
