body {
    width: 100%;
}

.test-box {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 100px;
    border: solid 2px red;
    border-radius: 30px;
    overflow: hidden;
    &__bar {
        display: block;
        z-index: -1;
        width: 50%;
        background-color: aqua;

        img {
            object-fit: cover;

        }
    }
}

.heart-out {
    font-size: 50px;
    overflow: hidden;
    border: solid 2px blue;
    position: relative;
    .heart-in {
        position: absolute;
        right: 0px;
        background-color: pink;
    }
}
