$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-quaternary: #878787;
$colour-shadow: #cecece;
$colour-box: #ededed;

$btn-gradient: linear-gradient(170deg, $colour-secondary -10%, $colour-primary);

$font-size-btn: 16px;

$height-steps: 75px;
$radius-steps: 20px;

$btn-shadow: 0px 7px 15px $colour-shadow;
$btn-shadowy: 0px 7px 15px darken($colour-shadow, 50%);

$loader-duration: 1.5s;

$loader-iteration: 2;